  @font-face {
    font-family: "My Custom Font";
    src:url("Crom_v1.ttf") format("truetype");
}
  /*@font-face {
    font-family: "My side Font";
    src:url("PLAYSIR Regular.otf") format("truetype");
}

 @font-face {
    font-family: "My msg Font";
    src:url("Quikhand.ttf") format("truetype");
}*/
@font-face {
    font-family: "My topbar Font";
    src:url("Fonarto.ttf") format("truetype");
}
body{
  position: absolute ;
  width: 100% ;
  height: 100% ;
  margin: 0px ;
  
 }
 .afterbody{
  position: absolute ;
  width: 100% ;
  height: 110% ;
 }
 body::-webkit-scrollbar
{
	width: 8px;
	
	
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
        
	background-color: crimson;
	border-radius: 100px ;
	
}
 .main-bar{
  position: absolute;
  height: 100%;
  width: 100%;
 }
 .div_top_bar{
   
    position: fixed;
    width: 100% ;
    height: 123px;
   background: lightyellow;
    
    
  
   /*background:#333 ;*/
    /*background:red ;
    
    opacity: 0.6;*/
 /*  background: #0C152A ;*/
   
    
    margin: 0px;
    padding-top: 20px;
    z-index: 10;
    
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  
 }
 #uiet{
  
  /*color: black;
  opacity: 0.5 ;*/
 /* color: black;
  opacity: 0.7 ;*/
 /*color: white;
  opacity: 1 ;*/
 color: salmon ;
 
  z-index: 200;
  font-size: 52px ;

}
.top_bar { 
    font-family: "My topbar Font", Verdana, Tahoma;
    position: fixed;
    width: 100%;
    height: 123px;
    font-size: 50px;
    text-align: center;
   /* background: #D0E799;*/
  
   
    
    margin: 0px;
    padding-top: 20px;
    z-index: 10;
}

.leftbar{
  background:bisque;
   font-family: "My side Font", Verdana, Tahoma;
}
/*.leftbar:hover{
  background: #868686;
}*/
.icon{
  background: salmon;
  height: 36px;
	  width: 40px;
	
	  left: 0px;
	  padding: 5px;
	  
}
        
        .nav-bar{
            position: absolute;
	    top: 147px;
            width: 17.3% ;
	    height: 71.4%;
	    background: cornsilk ;
	    list-style: none;
	    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            
        }
	/*li{
	  font-family: Bariol;
	}*/
       .slider{
             position: absolute ;
            width: 810px ;
	    height: 520px ;
            left: 17.4% ;
            top: 20% ;
	    z-index: 5 ;
	    
            
        }
       
	#res{
	  position: absolute;
	  left: 0px;
	  top: 20px;
	  /*padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
	  color: brown ;
	  cursor: pointer ;
	}
	/*#res:hover{
	  background: white;
	  
	}*/
	#res i{
	  font-size: 30px;
	  color: white;
	}
	#about i{
	  font-size: 30px;
	    color: white;
	}
	#quiz i{
	  font-size: 30px;
	    color: white;
	}
	#contact i{
	  font-size: 30px;
	    color: white;
	}
	#lec i{
	  font-size: 30px;
	    color: white;
	    
	}
	
	
	
	#lec{
	  position: absolute;
	  left: 0px;
	  top: 90px;
        /*padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
	  color: brown ;
	  cursor: pointer ;
	
	  
	}
	#lec:hover{
	  background: white;
	  
	}
      
    #quiz{
      position: absolute;
	  left: 0px;
	  top: 160px;
       /* padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
	  color: brown ;
	  
    }
    #quiz:hover{
	  background: white;
	  
	}
	#quiz i{
	  font-size: 25px;
	 
	
	}
	
    #about{
       position: absolute;
	  left: 0px;
	  top: 220px;
        /*padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
	  color: brown ;
	  cursor: pointer ;
    }
     #about:hover{
	  background: white;
	  
	}
    #contact{
        position: absolute;
	  left: 0px;
	  top: 290px;
       /* padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
	  color: brown ;
	  cursor: pointer ;
    }
    /* #contact:hover{
	  background: white;
	  
	}*/
	
        .message{
            position: absolute;
            width: 250px;
	    height: 136px;
            right: 0px ;
            top:66% ;
	    padding: 25px;
	    font-size: 25px;
	     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            
        }
	#msg{
	   font-family: "My msg Font", Verdana, Tahoma;
	   position: absolute ;
	   top: 0px ;
	   left: 30px ;
	   width: 260px ;
	   color: brown ;
	}
          .outer{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 300px;
  height: 330px;
  position: absolute;
  top: 148px;
  right: 0px;
        }
        .e1{
            background: tomato;
            color: white;
            width: 190px;
            height: 27px;
            text-align: center;
            margin-left: 39px;
            position: relative;
            top: 15px;
            padding-top: 4px;
	     font-family: "My side Font", Verdana, Tahoma;
	     background: tomato ;
	    
            
        }
        .eventlist{
          list-style: none;
	   font-family: "My side Font", Verdana, Tahoma;
        }
        .eventlist a{
	  text-decoration: none ;
	}
        .event1{
            margin-top: 40px;
            background: #FFFAF0;
            width: 235px;
            margin-left: 0px;
            height: 70px;
	    list-style: none ;
        }
        .e2{
            background: coral;
            color: white;
            width: 47px;
            padding-left: 5px;
	    
	    
        }
        .e3{
              border: 1px solid #e3e3e3;
             width: 49px;
            padding-left: 1px;
            height: 30px;
            color: #483D8B;
            text-align: center;
            font-size: 27px;
	    list-style: none ;
	    color: chocolate ;
        }
        .event2{
             margin-top: 10px;
            background: #FFFAF0;
            width: 235px;
            margin-left: 0px;
              height: 70px;
	      list-style: none ;
        }
         .event3{
             margin-top: 10px;
            background: #FFFAF0;
            width: 235px;
            margin-left: 0px;
              height: 70px;
	      list-style: none ;
        }
        .e4{
            margin-left: 60px;
            position:relative;
            top: -35px;
            font-size: 14px;
	    color: crimson ;
	    
            
        }
          #resource_open1 {
            
            display: none;
             position: absolute;
            background: #FFEBCD;
            left: 230px;
            top: -2px;
            
            width: 200px;
	    height: 73.8%;
            text-align: center;
            padding-top: 140px;
	    list-style: none;
	    color: #333 ;
	    text-align: left ;
	    z-index: 5 ;
        }
	
	#nav-bar-list{
	  list-style: none;
	}
	#res_open1{
	  margin-top:30px;
	  position: relative;
	  font-size: 22px ;
	  cursor: pointer ;
	  
	  
	}
	#res_open1:hover{
	  color: orangered ;
	}
	#res_open2{
	   margin-top:90px;
	   position: relative;
	  font-size: 22px ;
	  cursor: pointer ;
	}
	#res_open2:hover{
	  color: orangered ;
	}
	.onlinecourses{
	  padding-top: 20px;
	  text-align: left ;
	  
	}
	.onlinecourses a:hover{
	  color: tomato ;
	}
	.onlinecourses a{
	  color: black 	 ;
	  font-family: "My side Font" ,Verdana, Tahoma  ;
	  font-size: 15px ;
            
	  text-decoration: none ;
	}
	.res3{
	  margin-top: 20px;
	  text-align: left ;
	
	}
	.res3 a	{
	  text-decoration: none ;
	  color: black ;
	  font-family: "My side Font" ,Verdana, Tahoma  ;
	  font-size: 15px ;
	  
	}
	.res3 a:hover{
	  color: tomato ;
	}
        #resource_open2 {
            
            display: none;
             position: absolute;
            background:	#FFE4E1 ;
            left: 240px;
            top: 0px ;
            height: 88.7%;
            width: 200px;
            text-align: center;
            padding-top: 60px;
	    list-style: none;
	    z-index: 5 ;
	    
         
        }
        #resource_open3 {
            
            display: none;
             position: absolute;
            background:	#FFE4E1;
            left: 240px;
            top: 0px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 0px;
         list-style: none;
	 z-index: 5 ;
        }
	.resource_open3_head{
	  color: black ;
	  position: relative ;
	  bottom: 15px ;
	  font-size: 22px ;
	 
	}
	.resource_open2_head{
	  color: black ;
	  position: relative ;
	  bottom: 40px ;
	  font-size: 22px ;
	  
	}
        #lecture_open1 {
            
            display: none;
             position: absolute;
            background: #FFEBCD;
            left: 231px;
            top: -2px;
            height: 73.8%;
            width: 200px;
            text-align: center;
            padding-top: 140px;
	    
         list-style: none;
	 color: #333 ;
	 text-align: left ;
	 }
	#basic1{
	  margin-top: 50px;
	  font-size: 22px ;
	  cursor: pointer ;
	}
	#advanced1{
	  position: relative ;
	  top: 48px ;
	  margin-top: 50px;
	  font-size: 22px ;
	  cursor: pointer ;
	}
	#basic1:hover{
	  color: orangered ;
	}
	#advanced1:hover{
	  color:orangered ;
	}
         #lecture_openba{
            
            display: none;
             position: absolute;
            background:#FFE4E1;
	    left: 471px;
            top: -2px;
            height: 73.8%;
            width: 200px;
            text-align: center;
            padding-top: 140px;
	    list-style: none;
         
        }
	.lecture_openba_head{
	  color: black ;
	  position: relative ;
	  bottom: 40px ;
	  font-size: 22px ;
	  text-align: center ;
	}
	
         #lecture_openad{
            
            display: none;
             position: absolute;
            background:#FFE4E1;
            left: 471px;
            top: -2px;
            height: 73.8%;
            width: 200px;
            text-align: center;
            padding-top: 140px;
         list-style: none;
	 
        }
	.lecture_openad_head{
	  color: black ;
	  position: relative ;
	  bottom: 40px ;
	  font-size: 22px ;
	  text-align: center ;
	}
	.weekb{
	  margin-top: 30px;
	  color: #333 ;
	 
	  color: black ;
	  font-family: "My side Font" ,Verdana, Tahoma  ;
	  font-size: 17px ;
	  cursor: pointer ;
	
	}
	.weekad{
	  margin-top: 30px;
	  color: #333 ;
	    color: black ;
	  font-family: "My side Font" ,Verdana, Tahoma  ;
	  font-size: 17px ;
	  cursor: pointer ;
	  
	}
	.weekb:hover{
	  color: tomato ;
	}
	.weekad:hover{
	  color:tomato ;
	}
	
         .wb {
            
            display: none;
             position: absolute;
            background:seashell	 ;
            left: 710px;
            top: -2px;
            height: 92.8%;
            width: 200px;
            text-align: center;
            padding-top: 40px;
	    list-style: none;
         
        }
	.notes{
	  margin-top: 60px;
	  color: #333 ;
	  color: black ;
	  font-family: "My side Font" ,Verdana, Tahoma  ;
	  font-size: 17px ;
	  position: relative ;
	  top: 80px ;
	  text-align: left ;
	  cursor: pointer ;
	}
	.notes:hover{
	  color:red ;
	}
	.notes_head{
	   color: black ;
	  position: relative ;
	  bottom: 0px ;
	  top: 60px ;
	  font-size: 22px ;
	  text-align: center ;
	  right: 20px ;
	  
	}
	.hide{
	  
	  position: relative ;
	  background:transparent ;
	  z-index: 1000 ;
	  width: 300px ;
	  height: 150px ;
	  top: 532px ;
	  left: 720px ;
	  
	}
	.uietlogo{
	  height: 120px;
	  width: 120px;
	  position: absolute;
	  right: 20px;
	  top: 9px;
	  
	}
	.cclogo{
	  position: absolute;
	  left: 0px;
	  top: 10px;
	  width: 232px;
	  height: 122px;
	 
	}
	.about_open{
	  display:none ;
	  position:absolute;
	  left: 240px ;
	  width: 800px ;
	  top:130px ;
	  height: 73% ;
	  overflow-y: scroll ;
	  
	
	}
	.about_open h2{
	  color: brown;
	}
	.about_open h4{
	  color: brown ;
	}
	.about_open p{
	  color: chocolate ;
	}
	.about_open li{
	  color: chocolate ;
	}
	.about_open a{
	  color: chocolate ;
	}
	/*#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}*/

#style-4::-webkit-scrollbar
{
	width: 5px;
	
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
        
	background-color: coral;
	border-radius: 100px ;
	border: 1px solid ;
	border-color: darkorange ;
}


	.abt{
	    background:#FFF2F5;
	}
	.contact-open{
	  display: none ;
	  position:absolute ;
	  left: 193px ;
	  width: 800px ;
	  top:127px ;
	  height: 80% ;
	  
	}
	.contact-li li{
	  position: absolute ;
	  display: inline-block ;
	  list-style: none ;
	  background: white ;
	  width: 200px ;
	  
	  height: 32% ;
	 padding-top: 200px ;
	}
	.contact-li i{
	  position: absolute ;
	  top: 150px ;
	  left: 90px ;
	  font-size: 40px ;
	  
	}
	.contact-li-a{
	  position: absolute ;
	  color: black ;
	  text-align: center ;
	  
	}
	.contact-li-b{
	  position: absolute ;
	  left: 240px ;
	  color: black ;
	   text-align: center ;
	}
	.contact-li-c{
	  position: absolute ;
	  left: 440px ;
	  color: black ;
	   text-align: center ;
	  
	}
	.contact-li-a i{
	  color: #3c5a9b ;
	}
	.contact-li-b i{
	  color: #3c5a9b ;
	}
	.contact-li-c i{
	  color: orange ;
	}
	.onclick_image{
	  position: absolute ;
         
	  width: 830px ;
	  height: 400px ;
	  left: 17.1% ;
            top: 7.7% ;
	    display: none ;
	}
	.bottom{
	  background: mistyrose ;
	  position: absolute ;
	  width: 100% ;
	  height: 8% ;
	  bottom: 0px ;
	  color: brown ;
	  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	
	}
	.bottom span{
	  font-size: 15px ;
	  position: absolute ;
	  top: 20% ;
	  left: 10% ;
	  font-family: "My side Font", Verdana, Tahoma;
	}
	
	