  @font-face {
    font-family: "My Custom Font";
    src:url("Crom_v1.ttf") format("truetype");
}
  @font-face {
    font-family: "My side Font";
    src:url("PLAYSIR Regular.otf") format("truetype");
}

 @font-face {
    font-family: "My msg Font";
    src:url("Quikhand.ttf") format("truetype");
}
@font-face {
    font-family: "My topbar Font";
    src:url("Fonarto.ttf") format("truetype");
}
body{
  position: absolute ;
  width: 100% ;
  height: 100% ;
  margin: 0px ;
  
 }
 
 .main-bar{
  position: absolute;
  height: 100%;
  width: 100%;
 }
.top_bar { 
    font-family: "My topbar Font", Verdana, Tahoma;
    position: fixed;
    width: 100%;
    height: 123px;
    font-size: 50px;
    text-align: center;
   /* background: #D0E799;*/
    background:#C1FFC1	;
   
    color: black;
    margin: 0px;
    padding-top: 20px;
    z-index: 10;
}
#uiet{
  z-index: 200;
opacity: 0.7;
}
.leftbar{
  background:#B1FD96;
   font-family: "My side Font", Verdana, Tahoma;
}
/*.leftbar:hover{
  background: #868686;
}*/
.icon{
  background: #7AE265;
  height: 36px;
	  width: 40px;
	
	  left: 0px;
	  padding: 5px;
}
        
        .nav-bar{
            position: fixed ;
	    top: 130px;
            width: 17% ;
	    height: 100%;
	    background: #F0F8FF;
	    list-style: none;
	    
            
        }
	/*li{
	  font-family: Bariol;
	}*/
       .slider{
             position: absolute ;
            width: 830px ;
	    height: 520px ;
            left: 17% ;
            top: 22% ;
	    
            
        }
       
	#res{
	  position: absolute;
	  left: 0px;
	  top: 20px;
	  /*padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;  
	}
	/*#res:hover{
	  background: white;
	  
	}*/
	#res i{
	  font-size: 30px;
	  color: white;
	}
	#about i{
	  font-size: 30px;
	    color: white;
	}
	#quiz i{
	  font-size: 30px;
	    color: white;
	}
	#contact i{
	  font-size: 30px;
	    color: white;
	}
	#lec i{
	  font-size: 30px;
	    color: white;
	}
	
	
	
	#lec{
	  position: absolute;
	  left: 0px;
	  top: 90px;
        /*padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
	
	  
	}
	#lec:hover{
	  background: white;
	  
	}
      
    #quiz{
      position: absolute;
	  left: 0px;
	  top: 160px;
       /* padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
    }
    #quiz:hover{
	  background: white;
	  
	}
	#quiz i{
	  font-size: 25px;
	 
	
	}
	
    #about{
       position: absolute;
	  left: 0px;
	  top: 220px;
        /*padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
    }
     #about:hover{
	  background: white;
	  
	}
    #contact{
        position: absolute;
	  left: 0px;
	  top: 290px;
       /* padding-top: 25px;
	  padding-left: 40px;*/
	  width: 231px;
	  height: 45px;
    }
    /* #contact:hover{
	  background: white;
	  
	}*/
	
        .message{
            position: fixed;
            width: 250px;
	    height: 136px;
            right: 0px ;
            bottom: 0px;
	    padding: 25px;
	    font-size: 25px;
	     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            
        }
	#msg{
	   font-family: "My msg Font", Verdana, Tahoma;
	   position: absolute ;
	   top: 0px ;
	   left: 30px ;
	   width: 260px ;
	   color: #333 ;
	}
          .outer{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 300px;
  height: 330px;
  position: fixed;
  top: 145px;
  right: 0px;
        }
        .e1{
            background: #483D8B;
            color: white;
            width: 190px;
            height: 27px;
            text-align: center;
            margin-left: 39px;
            position: relative;
            top: 15px;
            padding-top: 4px;
	     font-family: "My side Font", Verdana, Tahoma;
            
        }
        .eventlist{
          list-style: none;
	   font-family: "My side Font", Verdana, Tahoma;
        }
        
        .event1{
            margin-top: 40px;
            background: #FFFAF0;
            width: 235px;
            margin-left: 0px;
            height: 70px;
        }
        .e2{
            background: #483D8B;
            color: white;
            width: 47px;
            padding-left: 5px;
        }
        .e3{
              border: 1px solid #e3e3e3;
             width: 49px;
            padding-left: 1px;
            height: 30px;
            color: #483D8B;
            text-align: center;
            font-size: 27px;
        }
        .event2{
             margin-top: 10px;
            background: #FFFAF0;
            width: 235px;
            margin-left: 0px;
              height: 70px;
        }
         .event3{
             margin-top: 10px;
            background: #FFFAF0;
            width: 235px;
            margin-left: 0px;
              height: 70px;
        }
        .e4{
            margin-left: 60px;
            position:relative;
            top: -35px;
            font-size: 12px;
            
        }
          #resource_open1 {
            
            display: none;
             position: absolute;
            background: #FFEBCD;
            left: 230px;
            top: 11px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 140px;	    list-style: none;
	    color: #333 ;
        }
	
	#nav-bar-list{
	  list-style: none;
	}
	#res_open1{
	  margin-top:30px;
	  position: relative;
	  left: -10px;
	}
	#res_open2{
	   margin-top:90px;
	   position: relative;
	  left: -10px;
	}
	.onlinecourses{
	  padding-top: 20px;
	}
	.res3{
	  margin-top: 20px;
	}
        #resource_open2 {
            
            display: none;
             position: absolute;
            background:	#FFE4E1 ;
            left: 240px;
            top: 1px ;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 140px;
	    list-style: none;
         
        }
        #resource_open3 {
            
            display: none;
             position: absolute;
            background:	#FFE4E1;
            left: 240px;
            top: 0px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 40px;
         list-style: none;
        }
        #lecture_open1 {
            
            display: none;
             position: absolute;
            background: #FFEBCD;
            left: 230px;
            top: 10px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 40px;
         list-style: none;
	 color: #333 ;
	 }
	#basic1{
	  margin-top: 50px;
	}
	#advanced1{
	  margin-top: 50px;
	}
         #lecture_openba{
            
            display: none;
             position: absolute;
            background:#FFE4E1;
	    left: 470px;
            top: 11px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 40px;
	    list-style: none;
         
        }
         #lecture_openad{
            
            display: none;
             position: absolute;
            background:#FFE4E1;
            left: 470px;
            top: 11px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 40px;
         list-style: none;
        }
	.weekb{
	  margin-top: 30px;
	  color: #333 ;
	}
	.weekad{
	  margin-top: 30px;
	  color: #333 ;
	}
	
         .wb {
            
            display: none;
             position: absolute;
            background:#F7E48D	 ;
            left: 710px;
            top: 12px;
            height: 100%;
            width: 200px;
            text-align: center;
            padding-top: 40px;
	    list-style: none;
         
        }
	.notes{
	  margin-top: 60px;
	  color: #333 ;
	}
	.uietlogo{
	  height: 120px;
	  width: 120px;
	  position: absolute;
	  right: 20px;
	  top: 9px;
	  
	}
	.cclogo{
	  position: absolute;
	  left: 0px;
	  top: 10px;
	  width: 232px;
	  height: 122px;
	}
	.about_open{
	  display:none ;
	  position:absolute ;
	  left: 240px ;
	  width: 800px ;
	  top:130px ;
	  height: 100% ;
	
	}
	.abt{
	    background:#FFF2F5;
	}
	.contact-open{
	  display: none ;
	  position:absolute ;
	  left: 190px ;
	  width: 800px ;
	  top:130px ;
	  height: 100% ;
	  
	}
	.contact-li li{
	  position: absolute ;
	  display: inline-block ;
	  list-style: none ;
	  background: white ;
	  width: 200px ;
	  
	  height: 20% ;
	 padding-top: 200px ;
	}
	.contact-li i{
	  position: absolute ;
	  top: 150px ;
	  left: 60px ;
	  font-size: 40px ;
	  
	}
	.contact-li-a{
	  position: absolute ;
	  color: black ;
	  
	}
	.contact-li-b{
	  position: absolute ;
	  left: 200px ;
	  color: black ;
	}
	.contact-li-c{
	  position: absolute ;
	  left: 400px ;
	  color: black ;
	  
	}
	.contact-li-a i{
	  color: #3c5a9b ;
	}
	.contact-li-b i{
	  color: #3c5a9b ;
	}
	.contact-li-c i{
	  color: orange ;
	}
	